@model IEnumerable<CookingCurator.EntityModels.RecipeBaseViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counting = Model.Count();
    bool ownPage = false;

    if (ViewBag.authorName == HttpContext.Current.User.Identity.Name)
    {
        ownPage = true;
    }

    if (counting != 0)
    {
        string authorName = Model.First().author;
        ViewBag.Title = authorName + "'s Recipes:";
    }

}

@if (counting == 0)
{
    if (ownPage)
    {
        <h2>You haven't added any recipes to the application!</h2>
        <h2>You start adding one by clicking @Html.ActionLink("here", "Create", "Recipe")</h2>
    }
    else
    {
        <h2>This author has added zero recipes to this application!</h2>
        <h2>Please try a different name.</h2>

    }
    <h3>@Html.ActionLink("Click here to return to the recipe index", "Index")</h3>
    <h3>@Html.ActionLink("Click here to return to the home page", "Index", "Home")</h3>

}
else
{

    <h2>@ViewBag.Title</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.verified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.source_Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealTimeType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.verified)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.source_Link)" target="_blank">@Html.DisplayFor(modelItem => item.source_Link)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mealTimeType)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.recipe_Id })
                </td>
            </tr>
        }

    </table>
}
