@model CookingCurator.EntityModels.RecipeWithIngredBaseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recipe Details</h2>

<div>
    <h4>Detailed Recipe Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source_Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source_Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mealTimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mealTimeType)
        </dd>

        <dt>
            Ingredients
        </dt>

        <dd>
            @foreach (var p in Model.ingreds)
            {
                <span>@p.ingred_Name</span><br />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recipe_Id }) |
    @Html.ActionLink("Back to Recipe List", "Index")
</p>