@model CookingCurator.EntityModels.RecipeWithIngredBaseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool checkEmpty = Model.diets.Any();
    var count = 0;
    var error = ViewBag.error;
}

<header>
    <h2> @Html.DisplayFor(model => model.title)</h2>
    <h4>Detailed Recipe Information</h4>
    <h5> @Html.ActionLink("Bookmark this recipe", "BookmarkRecipe", new { id = Model.recipe_Id })</h5>
    @if (!String.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger"><span>@ViewBag.error</span></div>

    }
    @if (ViewBag.bookmark == "0")
    {
        <div class="alert alert-success">
            <p> <b>Success!</b> This recipe has been bookmarked successfully</p>
            <p> Click here to view all @Html.ActionLink("Recipes", "Index", "Recipe") </p>
        </div>
    }
    else if(ViewBag.bookmark == "1")
    {
        <div class="alert alert-danger">
            <p> <b>Error!</b> This recipe is already bookmarked. All bookmarked recipe can be viewed from Dashboard page.</p>
            <p> Click here to view all your @Html.ActionLink("Bookmarks", "Index", "Bookmark") </p>
        </div>
    }
    <hr />
</header>

<section>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
            <p>
                @Html.ActionLink("Rate Up", "VoteUp", new { id = Model.recipe_Id })
                || @Html.ActionLink("Rate Down", "VoteDown", new { id = Model.recipe_Id })
            </p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructions)
        </dt>

        <dd>
            @Html.Raw(Model.instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastUpdated.Day)/@Html.DisplayFor(model => model.lastUpdated.Month)/@Html.DisplayFor(model => model.lastUpdated.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @if (Model.userID == 0)
            {
                @Html.DisplayFor(model => model.author)
            }
            else
            {             
                @Html.ActionLink(Model.author, "Details", "User", new { id = Model.userID }, null)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source_Link)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.source_Link)" target="_blank">@Html.DisplayFor(model => model.source_Link)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mealTimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mealTimeType)
        </dd>
        <dt>
            Ingredients
        </dt>
        <dd>
            <ul class="list-group" style="margin-top:10px">
                @foreach (var item in Model.ingreds)
                {
                    if (count % 2 == 0)
                    {
                        <li class="list-group-item" style="background-color:#E8E8E8">@Html.DisplayFor(modelItem => item.ingred_Name)</li>
                    }
                    else
                    {
                        <li class="list-group-item">@Html.DisplayFor(modelItem => item.ingred_Name)</li>
                    }
                    count++;
                }
            </ul>
        </dd>

        @if (checkEmpty)
        {
            <dt>
                Applicable Diets:
            </dt>

            <dd>
                <ul class="list-group" style="margin-top:10px">
                    @foreach (var d in Model.diets)
                    {
                        <li class="list-group-item" style="background-color:#E8E8E8">@d.dietName</li>
                    }
                </ul>
            </dd>
        }

        @if (Model.recommended.Count() > 0)
        {
            <h4>Recommended Recipes</h4>

            <table class="table">

                @foreach (var item in Model.recommended)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @if (item.rating > 0)
                            {
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            }
                            else if (item.rating < 0)
                            {
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-hand-right"></span>
                            }
                            @Html.DisplayFor(modelItem => item.rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mealTimeType)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.recipe_Id }) <br />
                        </td>
                    </tr>
                }
                

            </table>
            }

        </dl>


</section>

<aside>
    @if (!String.IsNullOrEmpty(Model.fileResult))
    {
        <div id="imgDiv" class="col-lg-offset-1">
            <img src="@Model.fileResult" class="thumbnail" alt="Recipe Image" />
        </div>

    }
</aside>

<footer>
   
        <p>
            @if (ViewBag.Admin == true || ViewBag.Username == Model.author)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.recipe_Id }) <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = Model.recipe_Id }) <span> | </span>
            }
            @Html.ActionLink("Report This Recipe", "ReportRecipe", new { id = Model.recipe_Id }) | @Html.ActionLink("Back to Recipe List", "Index")
        </p>

        <p class="text-danger"> Warning: Cooking Curator always advises users to carefully examine all contents of any recipe before use!
        </p>

</footer>




