@model CookingCurator.EntityModels.RecipeBaseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.title)</h2>

<div>
    <h5>
        By @Html.DisplayFor(model => model.author) |
        @Html.ActionLink("View all Recipes from this Author", "Authors", new { authorName = Model.author }) 
    </h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Instructions
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructions)
        </dd>

        <dt>
            User Rating
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            Date Last Updated
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastUpdated)
        </dd>

        <dt>
            Verified Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verified)
        </dd>

        <dt>
            Source ID #
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source_ID)
        </dd>

        <dt>
            Source Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source_Link)
        </dd>

        <dt>
            Country of Origin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            Meal Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mealTimeType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recipe_Id }) |
    @Html.ActionLink("Back to Recipe List", "Index")
</p>
