@model IEnumerable<CookingCurator.EntityModels.RecipeBaseViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Diet Recipes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.source_Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mealTimeType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.source_Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mealTimeType)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.recipe_Id })
            </td>
        </tr>
    }

</table>

<p>@Html.ActionLink("Return to Diet List", "Index", "Diet")</p>
<p>@Html.ActionLink("Return to Recipe List", "Index", "Recipe")</p>