@model IEnumerable<CookingCurator.EntityModels.RecipeBaseViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recipe Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Recipe Title
        </th>
        <th>
            User Rating
        </th>
        <th>
            Date Last Updated
        </th>
        <th>
            Author
        </th>
        <th>
            Verified Status
        </th>
        <th>
            Source ID #
        </th>
        <th>
            Source Link
        </th>
        <th>
            Country of Origin
        </th>
        <th>
            Meal Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.source_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.source_Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mealTimeType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.recipe_Id }) <br />
                @Html.ActionLink("Details", "Details", new { id = item.recipe_Id }) <br />
                @Html.ActionLink("Delete", "Delete", new { id = item.recipe_Id })
            </td>
        </tr>
    }

</table>

