@model IEnumerable<CookingCurator.EntityModels.BookmarkViewModel>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bookmarked Recipes</h2>
<h4>@Html.ActionLink("Delete all Bookmarks", "DeleteAll")</h4>

@if (!String.IsNullOrEmpty(ViewBag.error))
{
    <div class="alert alert-danger"><span>@ViewBag.error</span></div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.mealTimeType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.title)
            </td>
            <td>
                @if (item.Recipe.rating > 0)
                {
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                }
                else if (item.Recipe.rating < 0)
                {
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-hand-right"></span>
                }
                @Html.DisplayFor(modelItem => item.Recipe.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.mealTimeType)
            </td>
            <td>
                @Html.ActionLink("View Recipe", "Details", new { id = item.recipe_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.recipe_ID })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Recipe Listing", "Index", "Recipe", null, null)
</div>
<div>
    @Html.ActionLink("Back to User Dashboard", "UserDashboard", "Profile", null, null)
</div>
