@model IEnumerable<CookingCurator.EntityModels.BookmarkViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bookmarked Recipes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.mealTimeType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.mealTimeType)
        </td>
        <td>
            @Html.ActionLink("View Recipe", "Details", new {  id=item.recipe_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.recipe_ID })
        </td>
    </tr>
}

</table>
