
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Admin Dashboard</h2>

@if (User.Identity.IsAuthenticated)
{
    <h4>Logged in as @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h4>
}

<hr />

<div style="font-size:xx-large" class="col-lg-6 text-center">
    <p style="padding:10px 10px 10px 10px;background-color:lightsteelblue;border:groove;border-width:10px">
        User Options
    </p>
    <div class="col-lg-12 text-center" style="font-size:x-large">
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:lightcyan;border:groove;border-width:10px"><a>@Html.ActionLink("View All Users", "Index", "User")</a></p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:lightcyan;border:groove;border-width:10px"><a>@Html.ActionLink("Search Users", "Search", "User")</a></p>
    </div>
</div>


<div style="font-size:xx-large" class="col-lg-6 text-center">
    <p style="padding:10px 10px 10px 10px;background-color:lightsteelblue;border:groove;border-width:10px">
        Recipe Options
    </p>
    <div class="col-lg-12" style="font-size:x-large">
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:beige;border:groove;border-width:10px"><a>@Html.ActionLink("Add Verified Recipe", "CreateVerified", "Recipe")</a></p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:beige;border:groove;border-width:10px"><a>@Html.ActionLink("View Verified Recipes", "Index", "Recipe")</a></p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:beige;border:groove;border-width:10px"><a>@Html.ActionLink("Edit Verified Recipes", "Edit", "Recipe")</a></p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:beige;border:groove;border-width:10px"><a>@Html.ActionLink("Delete Verified Recipes", "Delete", "Recipe")</a></p>
    </div>
</div>

<hr />

<!-- <hr />

Last Login: @ViewBag.Date

-->
