
@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dashboard</h2>

@if (User.Identity.IsAuthenticated)
{
    <h4>Logged in as @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h4>
}

<hr />

<div style="font-size:xx-large; background-color:lavender" class="col-lg-6 text-center">
    <p style="padding:10px 10px 10px 10px;background-color:lightsteelblue;border:groove;border-width:10px">
        Your Settings
    </p>
    <div class="col-lg-12 text-center" style="font-size:x-large">
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:lightgoldenrodyellow;border:groove;border-width:10px">@Html.ActionLink("Change Username", "ChangeUsername", "Profile")</p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:lightgoldenrodyellow;border:groove;border-width:10px">@Html.ActionLink("Change Password", "ChangePassword", "Profile")</p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:pink;border:groove;border-width:10px">Set Allergies</p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:pink;border:groove;border-width:10px">Set Diets</p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:pink;border:groove;border-width:10px">Set Sorting Preference</p>
    </div>
</div>



<div style="font-size:xx-large; background-color:lavender" class="col-lg-6 text-center">
    <p style="padding:10px 10px 10px 10px;background-color:lightsteelblue;border:groove;border-width:10px">
        Recipes
    </p>
    <div class="col-lg-12 text-center" style="font-size:x-large; padding-bottom:84px">
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:lightgoldenrodyellow;border:groove;border-width:10px">@Html.ActionLink("View All Recipes", "Index", "Recipe")</p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:lightgoldenrodyellow;border:groove;border-width:10px">@Html.ActionLink("Create New Recipe", "Create", "Recipe")</p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:lightgoldenrodyellow;border:groove;border-width:10px">@Html.ActionLink("View Bookmarks", "Index", "Bookmark")</p>
        <p class="text-center" style="padding:10px 10px 10px 10px;background-color:lightgoldenrodyellow;border:groove;border-width:10px">@Html.ActionLink("Search For Recipes", "Search", "Search")</p>
    </div>
</div>

<br />
<br />




<div class="col-lg-12">
    <hr />
    <p>
        Have a concern?
        @Html.ActionLink("Contact Us", "ContactUs", "Profile")
    </p>
    <hr />
</div>

<hr />

<!-- <hr />

Last Login: @ViewBag.Date

-->
