@model IEnumerable<CookingCurator.EntityModels.DietDescViewModel>

@{
    ViewBag.Title = "Diet Index";
}

<h2>Diet Index</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dietName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dietDesc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dietName) --
                @Html.ActionLink("Recipes", "Diet", "Recipe", new { dietName = item.dietName }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dietDesc)
            </td>

            <td></td>
        </tr>
    }

</table>

<hr />

@Html.ActionLink("Return to Recipe Index", "Index", "Recipe")

