@model IEnumerable<CookingCurator.EntityModels.UserBaseViewModel>

@{
    ViewBag.Title = "User Index";
}

<h2>User Index</h2>

<p>
    Register New User
    <!--@Html.ActionLink("Create New", "Create") -->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.banUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.banUser)
        </td>
        <td>
            <!-- @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | -->
            @Html.ActionLink("Ban User", "BanUser", new { id = item.user_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.user_ID }) 
            <!--| @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) -->
        </td>
    </tr>
}

</table>
