@{
    /**/

    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h2>Cooking Curator Home</h2>
        <div class="row">
            <div class="col-md-8">
                <p class="lead">
                <p>Welcome! You are logged in as: @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</p>

            </div>
            <div class="col-md-4">
                <img src="~/Content/images/CookingCuratorLogo.jpg" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>@Html.ActionLink("About this application", "About", "Home", null, new { @class = "btn btn-default" })</p>
            <h2>Recipes</h2>
            <p>Getting started creating recipes using the links below: </p>
            <p>@Html.ActionLink("Add User Recipe", "Create", "Recipe", null, new { @class = "btn btn-default" })</p>
            @if (this.User.IsInRole("Admin"))
            {
                <p>@Html.ActionLink("Add Verified Recipe", "CreateVerified", "Recipe", null, new { @class = "btn btn-default" })</p>
            }
            <p>@Html.ActionLink("References", "Index", "References", null, new { @class = "btn btn-default" })</p>
            <p>@Html.ActionLink("Search for Recipe", "Search", "Search", null, new { @class = "btn btn-default" })</p>

        </div>
        @if (this.User.IsInRole("Admin"))
        {
            <div class="col-md-6">
                <h2>Users</h2>
                <p>Search through the list of users in the application:</p>
                <p>@Html.ActionLink("Search for a user", "Search", "User", null, new { @class = "btn btn-default" })</p>
            </div>
        }
    </div>
}
else
{
    <div class="jumbotron">
        <h2>Welcome to the Cooking Curator Website!</h2>
        <p class="lead">

            <div class="row">
                <div class="col-md-8">
        <p>This website is a recipe storage application and is free to use.</p>
        <ul>
            <li>Search through recipes from our catalogue.</li>
            <li>Find recipes by title, author, or ingredients!</li>
            <li>Bookmark your favourites for easy access!</li>
            <li>Upload your own recipes to share with other users!</li>
            <li>And more!</li>
        </ul>
        <br />
        <p><button> @Html.ActionLink("Learn more about this application", "About", "Home", null, new { @class = "btn btn-default" }) </button></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/CookingCuratorLogo.jpg" />
    </div>
    </div>



    </div>

}