@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Cooking Curator</h2>
    <p class="lead">
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome User @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")!! You are Logged In.</p>

            <p><button>@Html.ActionLink("Log Out", "Logout", "Home")</button></p>
        }

        <p><button> @Html.ActionLink("About this application", "About", "Home") </button></p>

    </div>

<div class="row">
    <div class="col-md-6">
        <h2>Recipes</h2>
        <p>Getting started creating recipes using the links below: </p>
        <p><button>@Html.ActionLink("Add User Recipe", "Create", "Recipe")</button></p>
        <p><button>@Html.ActionLink("Add Verified Recipe", "CreateVerified", "Recipe")</button></p>
        <p><button>@Html.ActionLink("References", "Index", "References")</button></p>
        <p><button>@Html.ActionLink("Search for Recipe", "Search", "Search")</button></p>

    </div>
    <div class="col-md-6">
        <h2>Users</h2>
        <p>Search through the list of users in the application:</p>
        <p><button>@Html.ActionLink("Search for a user", "Search", "User")</button></p>
    </div>
</div>